# Source function library
. /etc/init.d/functions

# Get network config
. /etc/sysconfig/network

test -f /etc/freshclam.conf || exit 0

RETVAL=0

start() {
    echo -n $"Starting freshclam: "
    daemon /usr/bin/freshclam -d -p /var/run/clamav/freshclam.pid
    RETVAL=$?
    echo
    [ $RETVAL -eq 0 ] && touch /var/lock/subsys/freshclam
    return $RETVAL
}

stop() {
    echo -n $"Stopping freshclam: "
    killproc freshclam
    RETVAL=$?
    echo
    [ $RETVAL -eq 0 ] && rm -f /var/run/clamav/freshclam.pid /var/lock/subsys/freshclam
    return $RETVAL
}

restart() {
    stop
    start
}

reload() {
    echo -n $"Reloading DB: "
    killproc freshclam -ALRM
    RETVAL=$?
    echo
    return $RETVAL
}

case "$1" in
    start|stop|restart|reload)
        $1
        ;;
    status)
        status freshclam
        ;;
    condrestart)
        [ -f /var/lock/subsys/freshclam ] && restart || :
        ;;
    *)
        echo $"Usage: $0 {start|stop|status|restart|condrestart|reload}"
        exit 1
esac

exit $?